@model Honcizek.DAL.Models.Tickets

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Tickets</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraRegistro)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.HoraRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinalizacion)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.FechaFinalizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraFinalizacion)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.HoraFinalizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agente)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Agente.Clave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Cliente.Clave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Suscripcion)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Suscripcion.Nombre)
        </dd>
    </dl>
</div>
<div>
    <div class="pb-3">
    <a asp-action="Edit" asp-route-id="@Model.Id">
      <button class="btn btn-info">Editar</button>
    </a>
	</div>
	<a asp-action="Index">
		<button class="btn btn-primary">Volver al listado</button>
	</a>
</div>
