@model IEnumerable<Honcizek.DAL.Models.Proyectos>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Proyectos</h1>

<p>
    <a asp-action="Create">
        <button class="btn btn-info">Crear nuevo
		</button>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionDesarrollo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinPrevista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinReal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorasInternasPrevistas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionDesarrollo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinPrevista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinReal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasInternasPrevistas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Tipo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">
					<button class="btn btn-primary">Editar
					</button>
				</a>
				<a asp-action="Details" asp-route-id="@item.Id">
					<button class="btn btn-info">Detalles
					</button>
				</a>
				<a asp-action="Delete" asp-route-id="@item.Id">
					<button class="btn btn-danger">Eliminar
					</button>
				</a>
            </td>
        </tr>
}
    </tbody>
</table>
