@model IEnumerable<Honcizek.DAL.Models.Proyectos>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de @(!(bool)ViewData["general"]?"mis":"") proyectos</h1>

@if (!(bool)ViewData["error"])
{
<div class="row float-right pt-3">
    <p class="pr-2">
        <a asp-action="Create">
            <button class="btn btn-info">
                Crear nuevo
            </button>
        </a>
    </p>
    <p class="">
        <a asp-action="@((bool)ViewData["general"] ? "IndexUsuario":"Index")">
            <button class="btn btn-@((bool)ViewData["general"] ? "primary":"warning")">
                @((bool)ViewData["general"] ? "Ver mis proyectos":"Ver todos los proyectos")
            </button>
        </a>
    </p>


</div>
<div>
    <form id="filtrador" class="float-left pl-3 row" asp-action="@((bool)ViewData["general"] ? "Index":"IndexUsuario")" method="get">
        <div class="form-actions no-color px-3">
                <label for="nombre">
                Buscar nombre: <input id="filtro" type="text" name="nombre" value="@ViewData["nombreFilter"]" />
                </label>
                <label for="cliente">
                Buscar cliente: <input id="filtro" type="text" name="cliente" value="@ViewData["clienteFilter"]" />
                </label>
        </div>
        <div class="row pl-5 pt-3">
            <a class="pr-2">
                <button class="btn btn-primary">Buscar</button>
            </a>
                <a asp-action="Index">
                    <button class="btn btn-dark" id="limpia-filtros">
                        Limpiar filtro
                    </button>
                </a>
        </div>
    </form>
</div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaFinPrevista)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaFinReal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HorasInternasPrevistas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fase)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td>
                            @if (item.FechaFinPrevista != null)
                            {
                                @Html.DisplayFor(modelItem => item.Finicio)
                            }
                            else
                            {
                                <span>Sin especificar</span>
                            }
                        </td>
                        <td>
                            @if (item.FechaFinPrevista != null)
                            {
                                @Html.DisplayFor(modelItem => item.FFinPrevista)
                            }
                            else
                            {
                                <span>Sin especificar</span>
                            }
                        </td>
                        <td>
                            @if (item.FechaFinReal != null)
                            {
                                @Html.DisplayFor(modelItem => item.FFin)
                            }
                            else
                            {
                                <span>Sin finalizar</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HorasInternasPrevistas)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fase)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Cliente.FullName)
                        </td>
                        <td>
                            <a asp-controller="Trabajos" asp-action="IndexUsuario" asp-route-id="@item.Id">
                                <button class="btn btn-warning">
                                    Trabajos
                                </button>
                            </a>
                            <a asp-action="Edit" asp-route-id="@item.Id">
                                <button class="btn btn-primary">
                                    Editar
                                </button>
                            </a>
                            <a asp-controller="Participantes" asp-action="Index" asp-route-id="@item.Id">
                                <button class="btn btn-info">
                                    Participantes
                                </button>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id">
                                <button class="btn btn-danger">
                                    Eliminar
                                </button>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @if (!(Model.Count() > 0))
    {
        <h2 style="text-align: center;width: 100%">A&uacute;n no hay registros</h2>
    }

}
@if ((bool)ViewData["error"])
{
    <div class="row col-12">
        <h4 class="">
            Parece que ha habido un error con tu usuario, puedes intentar cerrar sesi&oacute;n y volver a entrar.
        </h4>
        <form class="pl-3" asp-controller="Login" asp-action="Logout" method="post">
            <button class="btn btn-danger">Cerrar sesi&oacute;n</button>
        </form>
    </div>
    <hr />
    <h5>O puedes ver el <a class="honci-link" asp-controller="Proyectos" asp-action="Index">Listado completo de proyectos</a>.</h5>
}

@section Scripts {
    <script type="text/javascript" src="~/js/Administrador/Proyectos/Listado.js"></script>
    <script>
        $(document).ready(function () {
            Listado.init();
        });
    </script>
}