@model IEnumerable<Honcizek.DAL.Models.Proyectos>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Proyectos</h1>

@if (!(bool)ViewData["error"] && !(bool)ViewData["forbidden"])
{
<div>
    <p class="float-left">
        <a asp-action="Create">
            <button class="btn btn-info">
                Crear nuevo
            </button>
        </a>
    </p>
    <p class="float-right">
        <a asp-action="@((bool)ViewData["general"] ? "IndexUsuario":"Index")" asp-route-id="@((bool)ViewData["general"] ? ViewData["usuario_id"]:"")">
            <button class="btn btn-@((bool)ViewData["general"] ? "primary":"warning")">
                @((bool)ViewData["general"] ? "Ver mis proyectos":"Ver todos los proyectos")
            </button>
        </a>
    </p>
</div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaFinPrevista)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaFinReal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HorasInternasPrevistas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fase)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @if (item.FechaFinPrevista != null)
                        {
                            @Html.DisplayFor(modelItem => item.Finicio)
                        }
                        else
                        {
                            <span>Sin especificar</span>
                        }
                    </td>
                    <td>
                        @if (item.FechaFinPrevista != null)
                        {
                            @Html.DisplayFor(modelItem => item.FFinPrevista)
                        }
                        else
                        {
                            <span>Sin especificar</span>
                        }
                    </td>
                    <td>
                        @if (item.FechaFinReal != null)
                        {
                            @Html.DisplayFor(modelItem => item.FFin)
                        }
                        else
                        {
                            <span>Sin especificar</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HorasInternasPrevistas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fase)
                    </td>
                    <td>
                        @if (item.Tipo == "Empresa")
                        {
                            @Html.DisplayFor(modelItem => item.Cliente.RazonSocial)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Cliente.FullName);
                        }
                    </td>
                    <td>
                        <a asp-controller="Trabajos" asp-action="Index" asp-route-id="@item.Id">
                            <button class="btn btn-warning">
                                Trabajos
                            </button>
                        </a>
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <button class="btn btn-primary">
                                Editar
                            </button>
                        </a>
                        <a asp-controller="Participantes" asp-action="Index" asp-route-id="@item.Id">
                            <button class="btn btn-info">
                                Participantes
                            </button>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <button class="btn btn-danger">
                                Eliminar
                            </button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
@if ((bool)ViewData["error"])
{
    <h4>Est&aacute;s intentando ver los proyectos de un usuario que no existe.</h4>
    <hr />
    <h5>Prueba a ver el <a class="honci-link" asp-controller="Proyectos" asp-action="Index">Listado completo de proyectos</a> e int&eacute;ntalo de nuevo</h5>
    <hr />
    <h5>Tambi&eacute;n puedes probar a ver <a class="honci-link" asp-controller="Proyectos" asp-action="IndexUsuario" 
    asp-route-id="@ViewData["usuario_id"]">Listado de tus proyectos</a> e int&eacute;ntalo de nuevo</h5>
}
@if ((bool)ViewData["forbidden"])
{
    <h4>Est&aacute;s intentando ver los proyectos de otro programador...</h4>
    <hr />
    <h5>Prueba a ver el <a class="honci-link" asp-controller="Proyectos" asp-action="Index">listado completo de proyectos</a> e int&eacute;ntalo de nuevo</h5>
}

