@model Honcizek.DAL.Models.Trabajos

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Trabajos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proyecto)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Proyecto.Estado)
        </dd>
    </dl>
</div>
<div>
    <div class="pb-3">
    <a asp-action="Edit" asp-route-id="@Model.Id">
      <button class="btn btn-info">Editar</button>
    </a>
	</div>
    <a asp-controller="Trabajos" asp-action="Index" asp-route-id="@Model.ProyectoId">
        <button class="btn btn-primary">Volver al listado</button>
    </a>
</div>
