@model IEnumerable<Honcizek.DAL.Models.Trabajos>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de @((bool)ViewData["general"] ? "":"mis") Trabajos</h1>
@if (!(bool)ViewData["error"])
{
    <div>

        <p class="float-left">
            <a asp-action="Create" asp-route-id="@ViewData["proyecto_id"]">
                <button class="btn btn-info">Crear nuevo</button>
            </a>
        </p>
        <p class="float-lg-right">
            <a asp-controller="Proyectos" asp-action="Edit" asp-route-id="@ViewData["proyecto_id"]">
                <button class="btn btn-primary">
                    Volver al proyecto
                </button>
            </a>
            <a asp-controller="Trabajos" asp-action="@((bool)ViewData["general"] ? "IndexUsuario":"Index")" asp-route-id="@ViewData["proyecto_id"]">
                <button class="btn btn-warning">
                    @((bool)ViewData["general"] ? "Ver mis trabajos":"Ver todos los trabajos")
                </button>
            </a>
        </p>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Agente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Proyecto)
                </th>
                <th class="w-25"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Agente.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Proyecto.Nombre)
                    </td>
                    <td class="float-right">
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <button class="btn btn-primary">
                                Editar
                            </button>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id">
                            <button class="btn btn-info">
                                Detalles
                            </button>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <button class="btn btn-danger">
                                Eliminar
                            </button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="float-right">
        <a asp-controller="Proyectos" asp-action="Index">
            <button class="btn btn-secondary">
                Volver al listado de proyectos
            </button>
        </a>
    </div>
}
else
{
    <h4>Est&aacute;s intentando ver los trabajos de un proyecto que no existe.</h4>
    <span>Prueba a volver al <a class="honci-link" asp-controller="Proyectos" asp-action="Index">Listado de productos</a> e int&eacute;ntalo de nuevo</span>
}
