@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    bool proyectosPersonalizado = (int)ViewData["proyectos"] > 0;
    bool ticketsPersonalizado = (int)ViewData["tickets"] > 0;
    bool suscripcionesPersonalizado = (int)ViewData["suscripciones"] > 0;
}
<h1>Bienvenido al escritorio, @ViewData["nombre"]</h1>

<div class="row col-12 p-5 big botones-escritorio">
    <div class="col-3">
        <a asp-controller="ProyectosC" asp-action="Listado">
            <div class="card card-custom card-stretch gutter-b success-bg">
                <div class="card-body">
                    <span class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block  ">
                        @((int)ViewData["proyectos"] > 0 ? "Posees "+ViewData["proyectos"] : "No participas en ningún ")
                    </span>
                    <span class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block  ">
                        @((int)ViewData["proyectos"] > 1 ? "proyectos":"proyecto")
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-3">
        <a class="honci-link" asp-controller="SuscripcionesC" asp-action="Listado">
            <div class="card card-custom card-stretch gutter-b primary-bg">
                <div class="card-body">
                    <span class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block  ">
                    @((int)ViewData["suscripciones"] > 0 ? "Posees " + ViewData["suscripciones"] : "No posees ninguna ")
                    </span>
                    <span class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block   link">
                    @((int)ViewData["suscripciones"] > 1 ? "suscripciones" : "suscripción")
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-3">
        <a >
            <div class="card card-custom card-stretch gutter-b warning-bg">
                <div class="card-body">
                    <span class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block  ">
                        @((int)ViewData["tickets"] > 0 ? "Tienes " + ViewData["tickets"] : "No tienes ningún ")
                    </span>
                    <span class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block   link">
                        @((int)ViewData["tickets"] > 1 ? "tickets pendientes" : "ticket pendiente")
                    </span>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row col-12 p-5 little botones-escritorio">
    <div class="col-12">
        <a asp-controller="ProyectosC" asp-action="Listado">
            <div class="card card-custom card-stretch gutter-b success-bg">
                <div class="card-body">
                    <span class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block  ">
                        @((int)ViewData["proyectos"] > 0 ? "Posees "+ViewData["proyectos"] : "No participas en ningún ")
                    </span>
                    <span class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block  ">
                        @((int)ViewData["proyectos"] > 1 ? "proyectos":"proyecto")
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12">
        <a class="honci-link" asp-controller="SuscripcionesC" asp-action="Listado">
            <div class="card card-custom card-stretch gutter-b primary-bg">
                <div class="card-body">
                    <span class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block  ">
                        @((int)ViewData["suscripciones"] > 0 ? "Posees " + ViewData["suscripciones"] : "No posees ninguna ")
                    </span>
                    <span class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block   link">
                        @((int)ViewData["suscripciones"] > 1 ? "suscripciones" : "suscripción")
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12">
        <a>
            <div class="card card-custom card-stretch gutter-b warning-bg">
                <div class="card-body">
                    <span class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block  ">
                        @((int)ViewData["tickets"] > 0 ? "Tienes " + ViewData["tickets"] : "No tienes ningún ")
                    </span>
                    <span class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block   link">
                        @((int)ViewData["tickets"] > 1 ? "tickets pendientes" : "ticket pendiente")
                    </span>
                </div>
            </div>
        </a>
    </div>
</div>