@model Honcizek.DAL.Models.Suscripciones

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Seguro que quieres eliminarlo?</h3>
<div>
    <h4>Suscripciones</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDesde)
        </dt>
        <dd class="col-sm-4">
            @if (Model.FechaDesde != null)
            {
                @Html.DisplayFor(model => model.FDesde)
            }
            else
            {
                <span>Sin especificar</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHasta)
        </dt>
        <dd class="col-sm-4">
            @if (Model.FechaHasta != null)
            {
                @Html.DisplayFor(model => model.FHasta)
            }
            else
            {
                <span>Sin especificar</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Renovacion)
        </dt>
        <dd class="col-sm-4">
            @if (Model.Renovacion == 1)
            {
                <span>Activa</span>
            }
            else
            {
                <span>Inactiva</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioAlta)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.PrecioAlta) &euro;
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioPeriodo)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.PrecioPeriodo) &euro;
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Periodicidad)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Periodicidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agente)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Agente.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Cliente.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proyecto)
        </dt>
        <dd class="col-sm-4">
            @if (Model.Tipo != "Hardware")
            {
                @Html.DisplayFor(model => model.Proyecto.Nombre)
            }
            else
            {
                <span>Sin proyecto</span>
            }
        </dd>
    </dl>
    
    <form class="pb-3" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" />
    </form>
	<a asp-action="Index">
			<button class="btn btn-primary">Volver al listado</button>
		</a>
</div>
