@model Honcizek.DAL.Models.Suscripciones

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Suscripciones</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDesde)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.FechaDesde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHasta)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.FechaHasta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Renovacion)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Renovacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioAlta)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.PrecioAlta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioPeriodo)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.PrecioPeriodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periodicidad)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Periodicidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agente)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Agente.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Cliente.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proyecto)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Proyecto.Estado)
        </dd>
    </dl>
</div>
<div>
    <div class="pb-3">
    <a asp-action="Edit" asp-route-id="@Model.Id">
      <button class="btn btn-info">Editar</button>
    </a>
	</div>
	<a asp-action="Index">
		<button class="btn btn-primary">Volver al listado</button>
	</a>
</div>
