@model IEnumerable<Honcizek.DAL.Models.Suscripciones>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Suscripciones</h1>

<p>
    <a asp-action="Create">
        <button class="btn btn-info">Crear nuevo
		</button>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaDesde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHasta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorasContratadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvisoCaducidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProximidadCaducidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Renovacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RenovacionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pendiente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caducada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioAlta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioPeriodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioConsumoNivel1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioConsumoNivel2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioConsumoNivel3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodicidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proyecto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servicio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDesde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHasta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasContratadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvisoCaducidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProximidadCaducidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Renovacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RenovacionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pendiente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caducada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioAlta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioPeriodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioConsumoNivel1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioConsumoNivel2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioConsumoNivel3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodicidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agente.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proyecto.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicio.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">
					<button class="btn btn-primary">Editar
					</button>
				</a>
				<a asp-action="Details" asp-route-id="@item.Id">
					<button class="btn btn-info">Detalles
					</button>
				</a>
				<a asp-action="Delete" asp-route-id="@item.Id">
					<button class="btn btn-danger">Eliminar
					</button>
				</a>
            </td>
        </tr>
}
    </tbody>
</table>
