@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    bool proyectosPersonalizado = (int)ViewData["proyectos"] > 0;
    bool ticketsPersonalizado = (int)ViewData["tickets"] > 0;
    bool suscripcionesPersonalizado = (int)ViewData["suscripciones"] > 0;
    ViewData["title"] = "Escritorio";
}
<h1>Bienvenido al escritorio, @ViewData["nombre"]</h1>

<div class="row col-12 p-5 big botones-escritorio">
    <div class="col-4">
        <a asp-controller="ProyectosP" asp-action="Index">
            <div class="card card-custom card-stretch gutter-b success-bg">
                <div class="card-body">
                    <span class=" col-12 card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block  ">
                        @((int)ViewData["proyectos"] > 0 ? "Participas en "+ViewData["proyectos"] : "No participas en ningún ")
                    </span>
                    <span class="col-12 card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block  ">
                        @((int)ViewData["proyectos"] > 1 ? "proyectos":"proyecto")
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-4">
        <a asp-controller="TicketsP" asp-action="@(ticketsPersonalizado ? "IndexUsuario":"Index")">
            <div class="card card-custom card-stretch gutter-b warning-bg">
                <div class="card-body warning-bg">
                    <span class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block">
                        @((int)ViewData["tickets"] > 0 ? "Tienes " + ViewData["tickets"] : "No tienes ningún ")
                    </span>
                    <span class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block ">
                        @((int)ViewData["tickets"] > 1 ? "tickets pendientes" : "ticket pendiente")
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-4">
        <div class="card card-custom card-stretch gutter-b primary-bg">
            <a class="honci-link" asp-controller="SuscripcionesP" asp-action="Index">
                <div class="card-body">
                    <span class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block  ">
                        @((int)ViewData["suscripciones"] > 0 ? "Participas en " + ViewData["suscripciones"] : "No participas en ninguna ")
                    </span>
                    <span class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block  ">
                        @((int)ViewData["suscripciones"] > 1 ? "suscripciones" : "suscripción")
                    </span>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row col-12 p-5 little botones-escritorio">
    <div class="col-12">
        <a asp-controller="ProyectosP" asp-action="Index">
            <div class="card card-custom card-stretch gutter-b success-bg">
                <div class="card-body">
                    <span class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block  ">
                        @((int)ViewData["proyectos"] > 0 ? "Participas en "+ViewData["proyectos"] : "No participas en ningún ")
                    </span>
                    <span class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block  ">
                        @((int)ViewData["proyectos"] > 1 ? "proyectos":"proyecto")
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12">
        <a asp-controller="TicketsP" asp-action="@(ticketsPersonalizado ? "IndexUsuario":"Index")">
            <div class="card card-custom card-stretch gutter-b warning-bg">
                <div class="card-body">
                    <span class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block  ">
                        @((int)ViewData["tickets"] > 0 ? "Tienes " + ViewData["tickets"] : "No tienes ningún ")
                    </span>
                    <span class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block  ">
                        @((int)ViewData["tickets"] > 1 ? "tickets pendientes" : "ticket pendiente")
                    </span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12">
        <a class="honci-link" asp-controller="SuscripcionesP" asp-action="Index">
            <div class="card card-custom card-stretch gutter-b primary-bg">
                <div class="card-body">
                    <span class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block  ">
                        @((int)ViewData["suscripciones"] > 0 ? "Participas en " + ViewData["suscripciones"] : "No participas en ninguna ")
                    </span>
                    <span class="card-title font-weight-bolder font-size-h2 mb-0 mt-6 d-block  ">
                        @((int)ViewData["suscripciones"] > 1 ? "suscripciones" : "suscripción")
                    </span>
                </div>
            </div>
        </a>
    </div>
</div>