@model Honcizek.DAL.Models.Clientes

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Seguro que quieres eliminar al cliente @Model.Nombre @Model.Apellidos ?  </h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clave)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Clave)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RazonSocial)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.RazonSocial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nifcif)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Nifcif)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movil)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Movil)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cp)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Cp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Localidad)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Localidad.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Provincia.Nombre)
        </dd>
    </dl>
    
    <form class="pb-3" asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Borrar" class="btn btn-danger" />
    </form>
    <a asp-action="Index">
        <button class="btn btn-primary">Volver al listado</button>
    </a>
</div>
