@model IEnumerable<Honcizek.DAL.Models.Clientes>

@{
    ViewData["Title"] = "Clientes";
}

<h1>Listado de clientes</h1>

<p>
    <a asp-action="Create">
        <button class="btn btn-info">Crear nuevo</button>
    </a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Buscar cliente por nombre: <input id="filtro" type="text" name="search" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Buscar" class="btn btn-primary" />
            <a asp-action="Index" >
                <button class="btn btn-dark" id="limpia-filtros">
                    Limpiar filtro
                </button>
            </a>
        </p>
    </div>
</form>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RazonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RazonSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pais.Nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <button class="btn btn-primary">Editar</button>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <button class="btn btn-info">Detalles</button>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <button class="btn btn-danger">Eliminar</button>
                    </a>


                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script type="text/javascript" src="~/js/Administrador/Clientes/Clientes.js"></script>
    <script>
    $(document).ready(function () {
        Clientes.init();
    });
    </script>
}

