@model Honcizek.DAL.Models.Proyectos

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Proyectos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionDesarrollo)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.DescripcionDesarrollo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinPrevista)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.FechaFinPrevista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinReal)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.FechaFinReal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorasInternasPrevistas)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.HorasInternasPrevistas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fase)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Fase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Cliente.Clave)
        </dd>
    </dl>
</div>
<div>
    <div class="pb-3">
    <a asp-action="Edit" asp-route-id="@Model.Id">
      <button class="btn btn-info">Editar</button>
    </a>
	</div>
	<a asp-action="Index">
		<button class="btn btn-primary">Volver al listado</button>
	</a>
</div>
