@model Honcizek.DAL.Models.PartesDeTrabajo

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Delete</h1>

<h3>Seguro que quieres eliminarlo?</h3>
<div>
    <h4>PartesDeTrabajo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.FRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horas)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Horas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Minutos)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Minutos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agente)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Agente.FullName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Ticket.Nombre)
        </dd class>
    </dl>
    
    <form class="pb-3" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" />
    </form>
	<a asp-action="Index" asp-route-id="@ViewData["TicketId"]">
			<button class="btn btn-primary">Volver al listado</button>
		</a>
</div>
