@model IEnumerable<Honcizek.DAL.Models.Usuarios>

@{
    ViewData["Title"] = "Listado";
}

<h1>Listado de trabajadores</h1>

<p class="float-right">
    <a asp-action="Create">
        <button class="btn btn-info">Crear nuevo
		</button>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puesto)
            </th>
            <th class="w-25"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Puesto)
                </td>
                <td class="float-right">
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <button class="btn btn-primary">
                            Editar
                        </button>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <button class="btn btn-danger">
                            Eliminar
                        </button>
                    </a>
                </td>
            </tr>
        }
        }
    </tbody>
    @if (!(Model.Count() > 0))
    {
        <h2 style="text-align: center;width: 100%">A&uacute;n no hay registros</h2>
    }
</table>
