@model IEnumerable<Honcizek.DAL.Models.ProyectosParticipantes>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de ProyectosParticipantes</h1>

<p>
    <a asp-action="Create">
        <button class="btn btn-info">Crear nuevo
		</button>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Proyecto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Proyecto.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">
					<button class="btn btn-primary">Editar
					</button>
				</a>
				<a asp-action="Details" asp-route-id="@item.Id">
					<button class="btn btn-info">Detalles
					</button>
				</a>
				<a asp-action="Delete" asp-route-id="@item.Id">
					<button class="btn btn-danger">Eliminar
					</button>
				</a>
            </td>
        </tr>
}
    </tbody>
</table>
