@model IEnumerable<Honcizek.DAL.Models.ProyectosParticipantes>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de participantes del proyecto</h1>
@if (!(bool)ViewData["error"])
{
    <div class="py-4">
        <p class="float-left">
            <a asp-action="Create" asp-route-id="@ViewData["proyecto_id"]">
                <button class="btn btn-info">
                    A&ntilde;adir participante
                </button>
            </a>
        </p>
        <p class="float-lg-right">

            <a asp-controller="Proyectos" asp-action="Edit" asp-route-id="@ViewData["proyecto_id"]">
                <button class="btn btn-warning">
                    Volver al proyecto
                </button>
            </a>
        </p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Proyecto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario)
                </th>
                <th class="w-25"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Proyecto.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario.FullName)
                        </td>
                        <td class="float-right">
                            <a asp-action="Delete" asp-route-id="@item.Id">
                                <button class="btn btn-danger">
                                    Eliminar
                                </button>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
            @if (!(Model.Count() > 0))
            {
                <h2 style="text-align: center;width: 100%">A&uacute;n no hay registros</h2>
            }
    <div class="float-right">
        <a asp-controller="Proyectos" asp-action="Index">
            <button class="btn btn-secondary">
                Volver al listado de proyectos
            </button>
        </a>
    </div>
}
else
{
    <h4>Est&aacute;s intentando visualizar los participantes de un proyecto que no existe.</h4>
    <span>Prueba a volver al <a class="honci-link" asp-controller="Proyectos" asp-action="Index">Listado de proyectos</a> e int&eacute;ntalo de nuevo</span>
}